html, body {
    height: 100%;
    padding:0;
    margin:0;
}
a {
    text-decoration: none;
    color: #403d50;
    font-family: 'Playfair Display', serif;
}
a:hover {
    background-color: #403d50;
    color: #ddf1e8;
    transform: scale(1.1);
    transition: all .2s ease-in-out;
    border-left: solid 1px #ddf1e8;
    border-right: solid 1px #ddf1e8;
}
#navbar {
display:flex;
flex-direction:column;  
justify-content:space-between;
border: solid #403d50 1px;
border-radius: .75rem;
width: 15rem;
position:fixed;
height: 98%;
background:#ddf1e8;
margin-top:.5rem;
margin-left:2rem;
text-align:center;
padding-top:1rem;
overflow-y: scroll;
}
.nav-link {
    border-bottom:solid #403d50 1.1px;
    padding:2rem;
    font-size: 1.5rem;
}
#title {
    margin-top: 3rem;
    font-size:2.8rem;
    font-family: "Pacifico",cursive;
}

#main-doc {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: .40fr .43fr .39fr .55fr .50fr .45fr 1fr .55fr .55fr .15fr;
    grid-column:2/5;
    height:100%;
    width:100%;
    margin-right:3.5rem;
    margin-top:2.5rem;
    background:#403d50;
    border: solid #403d50 1px;
    border-radius: .75rem;
}

#grid {
    height:100%;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin:0;
    overflow-x: hidden;
    background:#403d50;
    scroll-behavior: smooth;
}
.sub_title {
    font-family: "Pacifico", cursive;
    text-align:center;
    padding-top: 1.5rem;
    font-size:1.5rem;
}
.fa-robot, .fa-laptop-code, .fa-keyboard, .fa-network-wired,.fa-download {
    display:flex;
    justify-content:center;
    align-items: center;
    color: #ddf1e8;
    background-color: #403d50;
    font-size: 5rem;
}
.fa-robot, .fa-keyboard, .fa-download {
    grid-column: 1/2;
    margin-right:5rem;
}
.fa-laptop-code, .fa-network-wired {
    grid-column: 4/5;
}
p {
    margin-bottom:-25px;
}
p, li{
    padding: 1rem;

}
ul {
    vertical-align: center;
    width:70%;
}

.techdoc {
    display:flex;
    justify-content:center;
    border: 1px #ddf1e8 solid;
    border-radius: .75rem;
    background: #403d50;
    color: #ddf1e8;
    width: 50%;
    height: 7%;
    padding:2rem;
    margin-left:9.8rem;
    margin-top: 3rem;
}
.techdocvar {
    display:flex;
    justify-content:center;
    border: 1px #ddf1e8 solid;
    border-radius: .75rem;
    background: #403d50;
    color: #ddf1e8;
    width: 30%;
    height: 2%;
    padding:2rem;
    margin-left:13rem;
    margin-top: 1rem;
}
.techdocvar_sm {
    display:flex;
    justify-content:center;
    align-items: center;
    border: 1px #ddf1e8 solid;
    border-radius: .75rem;
    background: #403d50;
    color: #ddf1e8;
    width: 35%;
    height: 8%;
    padding:1rem;
    margin-left:13rem;
}
.techdocvar_med {
    display:flex;
    justify-content:center;
    border: 1px #ddf1e8 solid;
    border-radius: .75rem;
    background: #403d50;
    color: #ddf1e8;
    width: 30%;
    height: 10%;
    padding:2rem;
    padding-top:1.2rem;
    margin-left:13rem;
    margin-top: 1rem;
}
.techdocvar_else {
    display:flex;
    justify-content:center;
    align-items: center;
    border: 1px #ddf1e8 solid;
    border-radius: .75rem;
    background: #403d50;
    color: #ddf1e8;
    width: 40%;
    height: 6%;
    padding:2rem;
    padding-top:1.2rem;
    margin-left:11rem;
    margin-top: 2rem;
}
.techdocvar_lg {
    display:flex;
    justify-content:center;
    align-items: center;
    border: 1px #ddf1e8 solid;
    border-radius: .75rem;
    background: #403d50;
    color: #ddf1e8;
    width: 40%;
    height: 12%;
    padding:2rem;
    padding-top:1.2rem;
    margin-left:11rem;
    margin-top: 2rem;
}
#Getting_Started {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin-right:2rem;
    background:#ddf1e8;
    height:30rem;
    grid-column:2/5;
    border: solid #403d50 1px;
    border-radius: .75rem;
    font-family: 'Playfair Display', serif;
    line-height: 1.5rem;
}
#What_is_Javascript{
    height:30rem;
    grid-row: 2/3;
    padding:1.5rem;
    border: solid #403d50 1px;
    border-radius: .75rem;
    background:#ddf1e8;
    grid-column: 1/4;
    font-family: 'Playfair Display', serif;
    line-height: 1.5rem;
}
#Hello_World {
    padding:1.5rem;
    margin-right:1.5rem;
    background:#ddf1e8;
    grid-column:2/5;
    height:30rem;
    grid-row: 3/4;
    border: solid #403d50 1px;
    border-radius: .75rem;
    font-family: 'Playfair Display', serif;
    margin-top: 2srem;
}
#Variables {
    height:62rem;
    grid-column: 1/4;
    grid-row:4/5;
    padding:1.5rem;
    border: solid #403d50 1px;
    border-radius: .75rem;
    background:#ddf1e8;
    font-family: 'Playfair Display', serif;
    margin-top: 4rem;
}
#Constants{
   padding:2rem;
   margin-right:1.5rem;
    background:#ddf1e8;
    grid-column:2/5;
    height: 50rem;
    grid-row:5/6;
    border: solid #403d50 1px;
    border-radius: .75rem;
    margin-top: 5rem;
    margin-bottom:2rem;
    font-family: 'Playfair Display', serif;
}
#Data_Types {
    height:43rem;
    grid-column: 1/4;
    grid-row:6/7;
    padding:1.5rem;
    border: solid #403d50 1px;
    border-radius: .75rem;
    background:#ddf1e8;
    font-family: 'Playfair Display', serif;
    margin-top: 3rem;
}
#If_Else_Statements {
    padding:2rem;
    margin-right:1.5rem;
     background:#ddf1e8;
     grid-column:2/5;
     height: 75rem;
     grid-row:7/8;
     border: solid #403d50 1px;
     border-radius: .75rem;
     margin-top: 5rem;
     margin-bottom:2rem;
     font-family: 'Playfair Display', serif;
}
#While_Statements {
    height:60rem;
    grid-column: 1/4;
    grid-row:8/9;
    padding:1.5rem;
    border: solid #403d50 1px;
    border-radius: .75rem;
    background:#ddf1e8;
    font-family: 'Playfair Display', serif;
    margin-top: 2rem;
}
#Function_Declarations {
    padding:2rem;
    margin-right:1.5rem;
     background:#ddf1e8;
     grid-column:2/5;
     height: 58rem;
     grid-row:9/10;
     border: solid #403d50 1px;
     border-radius: .75rem;
     margin-top: 5rem;
     margin-bottom:2rem;
     font-family: 'Playfair Display', serif;
}
#Reference {
    height:8rem;
    grid-row: 10/11;
    padding:1.5rem;
    border: solid #403d50 1px;
    border-radius: .75rem;
    background:#ddf1e8;
    grid-column: 1/5;
    font-family: 'Playfair Display', serif;
    line-height: 1.5rem;
    margin-right: 4rem;
}
@media only screen and (max-width: 600px) {
    #navbar {
        height: 30%;
        width: 95%;
        margin-left:.75rem;
    }
    #title {
        margin-top: 1rem;
    }
    #main-doc {
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: .40fr .43fr .39fr .55fr .50fr .45fr 1fr .55fr .55fr .15fr;
        grid-column:1/5;
        height:100%;
        width:100%;
        margin-right:3.5rem;
        margin-top:2.5rem;
    }
}

